fieldset 
{
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 15px;       
    position: relative;
    border-radius:4px;
    background-color:#ffffff;
}	
	
legend
{
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: auto; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #ffffff;
}